//importamos los colores
@import "../../../assets/styles/variables.scss";

//lo aplicamos al componente

.mat-toolbar{
    background-color: $black ;
    align-content: right ;
    margin: 2px auto;
    padding: 2px;
}
img{
    cursor: pointer;
    justify-content: center;
}