//importamos los colores
@import "../../../assets/styles/variables.scss";

.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
//columnas pares
.mat-row:nth-child(even){
  background-color: $yellow;
  opacity: 0.5rem ;
}
//columnas impares
.mat-row:nth-child(odd){
    background-color: $red;
    & .mat-cell {
        color: white;
    }
}
.mat-form-field{
    & .mat-label{
        color: $black !important;
    }
    & .look-poke{
        color: $black !important;
        text-transform: capitalize;
        font-weight: bold !important;
        font-size: 14px;
    }
    
}
.mat-cell{
    text-transform: capitalize;
}
.mat-row:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 5px rgba(231, 235, 21, 0.733);
}

table{
    min-width: 80%;
    margin:auto;
    text-align: center;
}
.ng-container{

    text-align: center;
    font-weight: bold;
}
//para modificar los estilos del paginador
::ng-deep.mat-paginator {
    width: 80%;
    margin: auto;
    background-color: $black;
    color:$white !important;
    
    font-size: 14px;

}
::ng-deep.mat-elevation-z8{
    background-color: $black;
}
.mat-header-cell{
    text-align: center;
    font-size: 14px;
    color: $black !important;
}
