<mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar class="header-image" src="{{pokemonImg}}">
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>N° {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pokemonImg}}" alt="poke-foto-detail">
    <mat-card-content>
      
      <!--proximamente pondremos mas skils-->
      <mat-chip-list aria-label="Fish selection">

        <mat-chip selected>Skills: {{pokeAbility[0]}}, {{pokeAbility[1]}}</mat-chip>
        <mat-chip selected>Expirence: {{pokemon.base_experience}}</mat-chip>
        <mat-chip selected>Type: {{pokemonType}}</mat-chip>
        <mat-chip selected>Height: {{pokemon.height}}</mat-chip>
        <mat-chip selected>Weight: {{pokemon.weight}}</mat-chip>
        <mat-chip selected>Moves: {{moves}}</mat-chip>
      </mat-chip-list>
      
    </mat-card-content>
  </mat-card>
  <br/>
  <app-footer></app-footer>

  